@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Oxygen&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    @apply text-gray-500;
}

/* STYLE RESET TEMPLATE */

*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

html, body {
    height: 100%
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
}

h1, h2, h3 {
    margin: 0;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* */